@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 60 33% 99%;
        --foreground: 20 24% 95%;

        --card: 60 33% 99%;
        --card-foreground: 20 24% 95%;

        --popover: 60 33% 99%;
        --popover-foreground: 20 24% 95%;

        --primary: 120 25% 65%;
        --primary-foreground: 60 33% 99%;

        --secondary: 60 33% 96%;
        --secondary-foreground: 24 9.8% 10%;

        --muted: 60 33% 96%;
        --muted-foreground: 24 5.4% 63.9%;

        --accent: 60 33% 96%;
        --accent-foreground: 24 9.8% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 33% 96%;

        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 24 5.4% 63.9%;

        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground antialiased;
    }
}
